.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;

  &__header {
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    background-color: rgb(56, 56, 80);
  }

  &__main {

  }

  &__footer {
    position: sticky;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: rgb(97, 60, 60);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

